body {
    display:contents;
    text-align:center;
    background-color:rgb(218, 210, 200);
}
h1 { 
    color:rgb(160, 146, 126);
    border:solid;
    border-color: rgb(160, 145, 126);
    margin: 50px;

}
ul {
    color:rgb(160, 146, 126);
    border:dashed;
    border-color:rgb(160, 146, 126);
    padding: 1%;
}